
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --primary: #8D8DD6;
    --secundary: #DDDDFB;
    --black: #1C1C1B;
    --grey: #3C3C3C;
    --text-grey: #5E5E5E;
    --acento: #FCB527;
    
}

body {
    font-family: "Poppins", sans-serif!important;
    color: var(--secundary);
    background-color: #ffffff;
  }
  
  p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif!important;
    font-weight: 300;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #daabb5;
    text-decoration: none;
  }

  ul li{
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: var(--primary)!important;
  }

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.container{
    max-width: 100%!important;
}
header{
    padding: 0 2rem;
}
.navbar ul li a{
    color: var(--grey);
}

.menu-top{
   background-color: var(--black);
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.menu-top .navbar ul li{
    margin-left: 0.5rem;
}

.menu-top .navbar ul li a, .menu-top button{
    color: var(--primary);
}

.menu-top button{
    margin-left: 3rem;
}

.menu-top .navbar ul li a:hover, .menu-top button:hover{
    color: #ffffff;
}

.menu-top div.container {
    justify-content: space-between;
    align-items: center;
}

.menu-derecha .navbar{
    top: 30%;
    position: fixed;
    right: 2rem;
}

.menu-derecha ul li a:hover, .menu-derecha ul li a:active{
    color: var(--acento);
}

@media (max-width: 768px){
   .menu-derecha .navbar{
    bottom: 0;
    position: fixed;
    top: unset;
    right: unset;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 1px var(--primary) ;
    background-color: var(--secundary);
}

.menu-derecha .navbar ul li{
    margin: 0 0.8rem;
}
   .menu-derecha .navbar-nav.flex-column {
    flex-direction: row!important;
}
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal{
    color: var(--text-grey)!important;
}
form .btn-modal{
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    margin-left: 0;
}

form .btn-modal:hover,form .btn-modal:active{
    background-color: var(--grey);
    color: #ffffff;
    border: none;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: var(--acento)!important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fcb52749!important;
}

.menu-top .btn-secondary {
    color: #ffffff;
}
/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
#hero{
    margin: -4rem 0 0 0;
}
#hero .fondo-hero{
   padding: 0!important;
   width: 100vw;

}

#hero .fondo-hero svg.fondo-organico{
    width: 100vw;
    top: 0;
    width: 100vw;
    left: 0;  
    z-index: -1;
}
.fondo-organico .cls-1{
    fill: var(--primary); 
}

 #hero .fondo-hero svg.recursos-graficos-svg{
    top: 25vw;
    width: 88vw;
    left: 1%;
    z-index: -1;
}

#hero .hero-content-img{
    margin: 6rem 0 0 0;
}

#hero .hero-content ul li h2{
    color: #ffffff;
    text-align: left;
    font-style: italic;
    font-weight: 200;
    font-size: 3rem;
}

#hero .hero-content-text{
    height: 100vh;
    margin: 10rem 0 0 -2rem;
}


@media	(max-width:	768px)	{
    
}

/*--------------------------------------------------------------
# Sobre mi
--------------------------------------------------------------*/
#sobre-mi{

}

.btn-primary{
    background-color: var(--primary)!important;
    color: #ffffff;
    border: none!important;
    margin-left: 0;
}

 .btn-primary:hover, .btn-primary:active{
    background-color: var(--grey)!important;
    color: #ffffff;
    border: none!important;
}

/*--------------------------------------------------------------
# Experiencia
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Educación
--------------------------------------------------------------*/
#educacion{
    background-color: rgb(255, 240, 219);
}

/*--------------------------------------------------------------
# Habilidades
--------------------------------------------------------------*/
.bi-1-circle:before{
    color: #441e5e;
    font-size: 1rem;
}

.icon-si:before{
    color: #441e5e;
    font-size: 3rem;
    font-weight:bold;
    height: 5rem;
    width: 1.5rem;
}

.icon-si svg{
    color: #441e5e;
    font-size: 3rem;
    font-weight:bold;
    height: 5rem;
    width: 1.5rem;
    padding-left: 0.5rem;
    fill: #FF4745;
    background-color: #eebd52;
}

.icon-no:before{
    color: #868686;
    font-size: 1rem;
}

.lista-iconos{
    list-style-type: none;
}

/*--------------------------------------------------------------
# Proyectos
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
    background-color: var(--primary);
    color: #ffffff;
}
