<!-- Sección Habilidades -->
<section id="habilidades" class="py-5">
    <div class="resume container text-center">
        <div class="func row justify-content-md-center">

            <div class="col-lg-12">
                <h2 class="mb-4">Habilidades</h2>
            </div>

            <!-- Primer fila Habilidades duras-->
            <div class="col-lg-12">
                <h3 class="mb-4">Habilidades duras</h3>
                <ul class="lista-items-habilidades d-flex">
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Diseño gráfico</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Desarrollo web</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Diseño editorial</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Ilustración digital y tradicional</p>
                    </li>
                </ul>

            </div>
            <!-- Fin Primer fila Habilidades duras -->


            <!-- Segunda fila Habilidades Front End-->
            <div class="col-lg-12">
                <h3 class="mb-4">Front End</h3>
                <app-skills-front-end></app-skills-front-end>
            </div>
            <!-- Fin Segunda fila Habilidades Front End -->

            <!-- Tercera fila Habilidades Back End-->
            <div class="col-lg-12">
                <h3 class="mb-4">Back End</h3>
                <app-skills-back-end></app-skills-back-end>
            </div>
            <!-- Fin Tercera fila Habilidades Back End -->

            <!-- Cuarta fila Habilidades Herramientas-->
            <div class="col-lg-12">
                <h3 class="mb-4">Herramientas</h3>
                <app-skills-herramientas></app-skills-herramientas>
            </div>
            <!-- Fin Quinta fila Habilidades Blandas -->

            <!-- Primer fila Habilidades duras-->
            <div class="col-lg-12">
                <h3 class="mb-4">Habilidades duras</h3>
                <ul class="lista-items-habilidades d-flex">
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Resolución de problemas</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Creatividad</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Trabajo en equipo</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Comunicación</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Gestión del tiempo</p>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-circle"></i>
                        <p>Liderazgo</p>
                    </li>
                </ul>

            </div>
            <!-- Fin Quinta fila Habilidades Blandas -->

        </div>

    </div>

</section>
<!-- Fin sección Habilidades -->