<ul class="lista-items-habilidades-icon d-flex">

    <li class=" position-relative">
        <circle-progress
        [percent]="90"
        [imageHeight]= "30"
        [imageWidth]= "30"
        imageSrc= '../assets/svg/illustrator.svg'
        ></circle-progress>
        <p>Illustrator</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="90"
        [imageHeight]= "30"
        [imageWidth]= "30"
        imageSrc= '../assets/svg/indesign.svg'
        ></circle-progress>
        <p>InDesign</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="70"
        [imageHeight]= "30"
        [imageWidth]= "30"
        imageSrc= '../assets/svg/photoshop.svg'
        ></circle-progress>
        <p>Photoshop</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="70"
        [imageHeight]= "30"
        [imageWidth]= "30"
        imageSrc= '../assets/svg/after-effects.svg'
        ></circle-progress>
        <p>After effects</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="70"
        [imageHeight]= "30"
        [imageWidth]= "22"
        imageSrc= '../assets/svg/figma.svg'
        ></circle-progress>
        <p>Figma</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="90"
        [imageHeight]= "28"
        [imageWidth]= "30"
        imageSrc= '../assets/svg/vs-code.svg'
        ></circle-progress>
        <p>VS Code</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="80"
        [imageHeight]= "26"
        [imageWidth]= "32"
        imageSrc= '../assets/svg/git.svg'
        ></circle-progress>
        <p>Git</p>
    </li>

    <li class=" position-relative">
        <circle-progress
        [percent]="80"
        [imageHeight]= "30"
        [imageWidth]= "30"
        imageSrc= '../assets/svg/github.svg'
        ></circle-progress>
        <p>GitHub</p>
    </li>
    
</ul>