<!-- Sección Educación -->
<section id="educacion" class="py-5">
    <div class="container text-center">
        <div class="row justify-content-md-center">

            <div class="col-lg-12">
                <h2 class="mb-4">Educación</h2>
            </div>

            <!-- Primer columna Experiencia laboral -->
            <div class="col-lg-6">

                <!-- Experiencia laboral 1 -->
                <div class="col-lg-12 d-flex row items-educacion">

                    <div class="logo-experiencia col-lg-3">
                        <img class="img-fluid" src="../../../assets/img/marcas-experiencia-laboral/tc-regional.png" alt="" />
                    </div>
                    <div class="trabajo col-lg-9 col-sm-12 d-flex row justify-content-md-center">
                        <ul>
                            <li>
                                <h3>Actualidad - 2022-02</h3>
                            </li>
                            <li>
                                <h4>Desarrollo web - TC Regional</h4>
                            </li>
                            <li>
                                <p>Diseño y desarrollo de sitio web de noticias en Wordpress</p>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Fin Experiencia laboral 1 -->

            </div>
            <!-- Fin Primer columna Experiencia laboral -->

            <!-- Segunda columna Experiencia laboral -->
            <div class="col-lg-6">

                <!-- Experiencia laboral 1 -->
                <div class="col-lg-12 d-flex row items-educacion">

                    <div class="logo-experiencia col-lg-3">
                        <img class="img-fluid" src="../../../assets/img/marcas-experiencia-laboral/tc-regional.png" alt="" />
                    </div>
                    <div class="trabajo col-lg-9 col-sm-12 d-flex row justify-content-md-center">
                        <ul>
                            <li>
                                <h3>Actualidad - 2022-02</h3>
                            </li>
                            <li>
                                <h4>Desarrollo web - TC Regional</h4>
                            </li>
                            <li>
                                <p>Diseño y desarrollo de sitio web de noticias en Wordpress</p>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Fin Experiencia laboral 1 -->

            </div>
            <!-- Fin Segunda columna Experiencia laboral -->

        </div>
    </div>

</section>
<!-- Fin sección Educación -->