<!-- Sección Sobre mi -->
<section id="sobre-mi" class="py-5">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-lg-12 col-md-8 my-1 d-flex justify-content-center">

                <div class="col-lg-4                     ">
                    <img src="../../../assets/img/foto-perfil.png" class="card-img-top" alt="...">
                </div>

                <div class="col-lg-7 ps-4">
                    <h1 class="mb-1">Gisella Eduviges Franco</h1>
                    <div class="d-flex flex-row bd-highlight mb-2">
                        <p> 29 años | </p>
                        <p> Buenos Aires, Argentina</p>
                    </div>

                    <div class="mb-3">
                        <h5>Diseñadora gráfica y Desarrolladora web</h5>
                        <p class="">¡Hola! Soy Gisella y me dedico al Diseño Gráfico y Desarrollo Web. Me recibí
                            en la carrera de Diseño Gráfico en la UBA en el año 2021 y desde entonces he estado
                            especializándome de manera autodidacta en el mundo del Desarrollo Web. Actualmente,
                            me enfoco en diseñar y maquetar sitios web utilizando HTML5, CSS3 y Bootstrap. Como
                            diseñadora, me apasiona crear diseños visuales impactantes y asegurarme de que los
                            sitios web con los que trabajo sean visualmente atractivos y accesibles en todo tipo
                            de pantallas. Me encanta trabajar en equipo y estoy siempre en busca de nuevos
                            desafíos que me permitan crecer profesionalmente.</p>
                    </div>
                    <a href="#" class="btn btn-primary"><i class="fa-solid fa-download"></i>Descargar CV</a>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- Fin Sección Sobre mi -->