<!-- Sección Proyectos -->
<section id="proyectos" class="py-5">
    <div class="container text-center">
        <div class="row justify-content-md-center">

          <h2 class="mb-4">Proyectos</h2>

          <div *ngFor="let proyectos of proyectosList" class="proyecto col-lg-6 col-md-6 my-1 d-flex justify-content-center mb-4">
            <div class="card position-relative">
                <div class="img-proyecto position-relative">
                    <img [src]="proyectos.img" class="card-img-top" alt="...">
                    <div class="fecha d-flex row position-absolute z-3">
                        <i class="fa-regular fa-clock"></i>
                        <p>{{proyectos.anioFinalMesInicio}}</p>
                    </div>
                </div>
                <div class="card-body">
                  <h3 class="mb-4">{{proyectos.proyectoAndEmpresa}}</h3>
                  <p class="card-text">{{proyectos.descripcion}}</p>
                  <a [href]="proyectos.enlace" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
          </div>

        </div>
      </div>

</section>
<!-- Fin Sección Proyectos -->