.lista-items-habilidades li{
    padding-right: 1rem;
 }
 
 .lista-items-habilidades{
     flex-wrap: wrap;
 }
 
 .lista-items-habilidades i,{
     color: var(--primary);
     line-height: 4.4rem;
  }
 
  .lista-items-habilidades li i{
     color: var(--primary);
     line-height: 1;
     padding-right: 0.4rem;
  }